@import "./../../build/css/variables.css";
@import "./../../node_modules/@angular/material/theming";

@include mat-core();

//>------PRIMARY-COLORS------<

$md-primary-blue-dark-100: (
  50: #e4e5e6,
  100: #babec1,
  200: #8d9398,
  300: #5f686f,
  400: #3c4750,
  500: #1a2731,
  600: #17232c,
  700: #131d25,
  800: #0f171f,
  900: #080e13,
  A100: #569eff,
  A200: #2381ff,
  A400: #0066ef,
  A700: #005bd5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-primary-blue-dark-90: (
  50: #e6e8e9,
  100: #c1c5c8,
  200: #989ea3,
  300: #6e777e,
  400: #4f5962,
  500: #303c46,
  600: #2b363f,
  700: #242e37,
  800: #1e272f,
  900: #131a20,
  A100: #64b2ff,
  A200: #3198ff,
  A400: #007ffd,
  A700: #0072e4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-primary-blue-dark-80: (
  50: #e9eaeb,
  100: #c8cbcd,
  200: #a3a8ac,
  300: #7e858b,
  400: #626a72,
  500: #465059,
  600: #3f4951,
  700: #374048,
  800: #2f373e,
  900: #20272e,
  A100: #77bbff,
  A200: #44a1ff,
  A400: #1188ff,
  A700: #007bf6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-primary-blue-dark-70: (
  50: #ebeded,
  100: #ced1d3,
  200: #aeb2b6,
  300: #8d9399,
  400: #747c83,
  500: #5c656d,
  600: #545d65,
  700: #4a535a,
  800: #414950,
  900: #30373e,
  A100: #92cbfd,
  A200: #5fb4fc,
  A400: #2a9dff,
  A700: #1091ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$md-primary-blue-dar60: (
  50: #eeeff0,
  100: #d5d7d9,
  200: #b9bcc0,
  300: #9ca1a6,
  400: #878d93,
  500: #727980,
  600: #6a7178,
  700: #5f666d,
  800: #555c63,
  900: #424950,
  A100: #b1d6fc,
  A200: #80bdfa,
  A400: #47a3ff,
  A700: #2e96ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-primary-blue-dark-50: (
  50: #f1f1f2,
  100: #dbdddf,
  200: #c3c6c9,
  300: #abafb3,
  400: #999ea3,
  500: #878d93,
  600: #7f858b,
  700: #747a80,
  800: #6a7076,
  900: #575d64,
  A100: #d3e6fc,
  A200: #a3cbf9,
  A400: #6aafff,
  A700: #51a1ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-primary-blue-dark-40: (
  50: #f3f4f4,
  100: #e2e3e5,
  200: #ced1d3,
  300: #babfc1,
  400: #acb1b4,
  500: #9da3a7,
  600: #959b9f,
  700: #8b9196,
  800: #81888c,
  900: #6f777c,
  A100: #fbfdff,
  A200: #cbe9fb,
  A400: #95d6ff,
  A700: #7bccff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-primary-blue-dark-30: (
  50: #f6f6f7,
  100: #e9eaeb,
  200: #dadcdd,
  300: #cbcdcf,
  400: #bfc3c5,
  500: #b4b8bb,
  600: #adb1b5,
  700: #a4a8ac,
  800: #9ca0a4,
  900: #8c9196,
  A100: #ffffff,
  A200: #fafcff,
  A400: #c7e3ff,
  A700: #add6ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-primary-blue-dark-20: (
  50: #f9f9f9,
  100: #eff0f0,
  200: #e4e6e7,
  300: #d9dbdd,
  400: #d1d4d5,
  500: #c9ccce,
  600: #c3c7c9,
  700: #bcc0c2,
  800: #b5b9bc,
  900: #a9adb0,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fafdff,
  A700: #e0f4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-primary-blue-dark-10: (
  50: #fbfbfc,
  100: #f6f6f6,
  200: #f0f0f1,
  300: #e9eaeb,
  400: #e5e6e6,
  500: #e0e1e2,
  600: #dcdddf,
  700: #d8d9da,
  800: #d3d5d6,
  900: #cbcdcf,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-primary-blue-dark-5: (
  50: #fefefe,
  100: #fbfcfc,
  200: #f9fafa,
  300: #f7f7f7,
  400: #f5f6f6,
  500: #f3f4f4,
  600: #f1f3f3,
  700: #eff1f1,
  800: #edefef,
  900: #eaecec,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-primary-blue-light-100: (
  50: #fcfdfd,
  100: #f8f9fa,
  200: #f4f6f7,
  300: #f0f2f4,
  400: #eceff1,
  500: #e9ecef,
  600: #e6eaed,
  700: #e3e7eb,
  800: #dfe4e8,
  900: #d9dfe4,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-primary-green-100: (
  50: #f2f9e0,
  100: #e0f0b3,
  200: #cbe780,
  300: #b6dd4d,
  400: #a6d526,
  500: #96ce00,
  600: #8ec900,
  700: #83c200,
  800: #79bc00,
  900: #68b000,
  A100: #edffda,
  A200: #d5ffa7,
  A400: #bdff74,
  A700: #b2ff5a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-primary-green-100-hover: (
  50: #f0f6e0,
  100: #dae9b3,
  200: #c1da80,
  300: #a8cb4d,
  400: #96bf26,
  500: #83b400,
  600: #7bad00,
  700: #70a400,
  800: #669c00,
  900: #538c00,
  A100: #deffb8,
  A200: #c6ff85,
  A400: #adff52,
  A700: #a1ff39,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

//>------COMPLEMENTARY-COLORS------<

$md-complementary-yellow: (
  50: #fff8e0,
  100: #ffeeb3,
  200: #ffe380,
  300: #ffd84d,
  400: #ffcf26,
  500: #ffc700,
  600: #ffc100,
  700: #ffba00,
  800: #ffb300,
  900: #ffa600,
  A100: #ffffff,
  A200: #fffaf2,
  A400: #ffe6bf,
  A700: #ffdca6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-complementary-orange: (
  50: #fff1e9,
  100: #ffdbc8,
  200: #ffc4a4,
  300: #ffac80,
  400: #ff9a64,
  500: #ff8849,
  600: #ff8042,
  700: #ff7539,
  800: #ff6b31,
  900: #ff5821,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffdbd0,
  A700: #ffc7b7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-complementary-magenta: (
  50: #fde8ee,
  100: #f9c7d4,
  200: #f6a1b8,
  300: #f27b9c,
  400: #ef5f86,
  500: #ec4371,
  600: #ea3d69,
  700: #e7345e,
  800: #e42c54,
  900: #df1e42,
  A100: #ffffff,
  A200: #ffe1e6,
  A400: #ffaebb,
  A700: #ff95a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-complementary-purple: (
  50: #efebf8,
  100: #d8ceee,
  200: #beaee3,
  300: #a48dd7,
  400: #9174cf,
  500: #7d5cc6,
  600: #7554c0,
  700: #6a4ab9,
  800: #6041b1,
  900: #4d30a4,
  A100: #efebff,
  A200: #c8b8ff,
  A400: #a185ff,
  A700: #8e6bff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-complementary-blue: (
  50: #e0f5f9,
  100: #b3e6f1,
  200: #80d6e8,
  300: #4dc6de,
  400: #26b9d7,
  500: #00add0,
  600: #00a6cb,
  700: #009cc4,
  800: #0093be,
  900: #0083b3,
  A100: #dcf4ff,
  A200: #a9e5ff,
  A400: #76d5ff,
  A700: #5dcdff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-complementary-gray: (
  50: #f2f3f3,
  100: #dfe2e2,
  200: #cacecf,
  300: #b4babb,
  400: #a4acad,
  500: #949d9e,
  600: #8c9596,
  700: #818b8c,
  800: #778182,
  900: #656f70,
  A100: #e9fcfd,
  A200: #b9f5fa,
  A400: #81f5ff,
  A700: #68f2ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$aena-primary: (
  50: #f2f9e0,
  100: #e0f0b3,
  200: #cbe780,
  300: #b6dd4d,
  400: #a6d526,
  500: #96ce00,
  // 500 : $color-base-gray-dark-,//var(--complementary--magenta)//variable-exists($name: complementary--magenta),
  600: #8ec900,
  700: #83c200,
  800: #79bc00,
  900: #68b000,
  A100: #edffda,
  A200: #d5ffa7,
  A400: #bdff74,
  A700: #b2ff5a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$aena-accent-color: (
  50: #fff7ea,
  100: #ffeccb,
  200: #ffdfa8,
  300: #fed285,
  400: #fec86b,
  500: #febe51,
  600: #feb84a,
  700: #feaf40,
  800: #fea737,
  900: #fd9927,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe9d3,
  A700: #ffddb9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$aena-warn-color: (
  50: #f9e0e0,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$aena-palette-primary: mat-palette($aena-primary);
$aena-palette-accent: mat-palette($aena-accent-color);
$aena-palette-warn: mat-palette($aena-warn-color);

$aena-theme: mat-light-theme(
  (
    color: (
      primary: $aena-palette-primary,
      accent: $aena-palette-accent,
      warn: $aena-palette-warn,
    ),
  )
);

@include angular-material-theme($aena-theme);
